* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: bisque;
    margin-bottom: 10px;
    height: 50px;
    .cart-button {
        margin-left: 10px;
        color: blue;
    }
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    column-gap: 16px;
    .goods-item {
        background: #f8f8f8;
    }
}